{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carte de l'électricité en France</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">

    <script src="https://unpkg.com/leaflet/dist/leaflet.js" defer></script>
    <script src="{% static 'home/js/home.js' %}" defer></script>
</head>
<body>

    <div id="sidebar" class="sidebar">
        <h2>SideBar</h2>
        <div class="content"></div>

        <button id="open-btn" class="open-btn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <div id="map"></div>

    <div id="custom-popup" class="custom-popup">
        <div class="popup-content">
            <h4 id="popup-title"></h4>
            <p id="popup-description"></p>
        </div>
    </div>
    

</body>
</html>
