body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#map {
    width: 100%;
    height: 100dvh;
}

.sidebar {
    z-index: 1000;
    position: fixed;
    padding: 20px;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: #2c3e50;
    color: white;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}
.sidebar.active {
    right: 0;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 5px 0;
}

.open-btn {
    z-index: 1001;
    position: absolute;
    display: block;
    padding: 20px;
    top: 20px;
    left: -20px;
    height: 20px;
    width: 24px;
    border: none;
    cursor: pointer;
    background: #2c3e50;
}

.open-btn span {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    transition: .3s;
}
.open-btn span:nth-child(1) {
    top: 12px;
    left: 10px;
}
.open-btn span:nth-child(2) {
    top: calc(50% - 1px);
    left: 10px;
}
.open-btn span:nth-child(4) {
    top: calc(50% - 1px);
    left: 10px;
}
.open-btn span:nth-child(3) {
    bottom: 12px;
    left: 10px;
}
.sidebar.active .open-btn span {
    background-color: black;
}
.sidebar.active .open-btn span:nth-child(1),
.sidebar.active .open-btn span:nth-child(3) {
    opacity: 0;
    scale: 0;
}
.sidebar.active .open-btn span:nth-child(2) {
    transform: rotateZ(45deg);
}
.sidebar.active .open-btn span:nth-child(4) {
    transform: rotateZ(-45deg);
}